/* Colors: 
#90a3b4	(144,163,180)
#567d9c	(86,125,156)
#0f4162	(15,65,98)
#09273a	(9,39,58)
#1c2641	(28,38,65) */
@import url('https://fonts.googleapis.com/css2?family=Silkscreen:wght@400;700&display=swap');

:root {
    --grid-width: 600px;
    --accent-color: #90a3b4;
    --inactive-color: rgb(0, 0, 0, 0.25);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Silkscreen";
}

body {
    background-color: #09273a;
}

#head {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #567d9c;
    margin-top: 40px;
}

.sub-head {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 20px;
}

button {
    
    background-color: #90a3b4;
    color: #09273a;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#new-grid-btn:hover {
    background-color: #567d9c;
}

#sketch-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    background-color: white;
    margin: auto auto 35px auto;
    margin-top: 20px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 1);
}

.cell {
    border: 1px solid whitesmoke;
}

#slider-container {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    height: 25px;
    width: 500px;
    background: #90a3b4c9;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#slider-value {
    margin: 0 auto;
    text-align: center;
}

#slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #0f4162;
    cursor: pointer;
}

